@model IEnumerable<Merchandise_Sport_master.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Our Products</h1

>
@if (Context.User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
        <a asp-action="Delete">Delete</a>
        <a asp-action="Edit">Edit</a>
    </p>
}


@foreach (var item in Model)
{
    <div class="card col-3" style="width: 18rem;">
        <img src="@item.Image" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">@item.Title</h5>
            <p class="card-text">Size -  @item.Size</p>
            <p class="card-text">Price - @item.Price $</p>
            @if (Context.User.IsInRole("Admin"))
            {
                <a asp-action="Details" asp-route-id="@item.SerialNumber" class="btn btn-primary">View Product</a>
            }
            <a asp-controller="ShopCarts" asp-action="Create" class="btn btn-primary">Add To Cart</a>
        </div>
    </div>
}
