@model IEnumerable<Merchandise_Sport_master.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>
    Our Shorts
</h1>

@if (Context.User.IsInRole("Admin"))
{
    <a asp-action="Create">Create</a>
}




@foreach (var item in Model)
{
    @if (item.Category.Name == "Short")
    {
        <div class="card" style="width: 18rem;">
            <img src="@item.Image" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@item.Title</h5>
                <p class="card-text">Price - @item.Price $</p>
                @if (Context.User.IsInRole("Admin"))
                {
                    <a asp-action="Details" asp-route-id="@item.SerialNumber" class="btn btn-primary">View Product</a>
                }
                <a asp-controller="ShopCarts" asp-action="Create" class="btn btn-primary">Add To Cart</a>
            </div>
        </div>
        @if (Context.User.IsInRole("Admin"))
        {
            <p>
                <a asp-action="Edit" asp-route-id="@item.SerialNumber">Edit   </a> |
                <a asp-action="Details" asp-route-id="@item.SerialNumber">Details   </a> |
                <a asp-action="Delete" asp-route-id="@item.SerialNumber">Delete   </a>  |

            </p>
        }
    }

}
